Source: mesos
Section: misc
Priority: extra
Maintainer: Tomas Barton <barton.tomas@gmail.com>
Build-Depends:
  automake,
  autoconf,
  debhelper (>=9), dh-autoreconf,
  default-jdk (>= 2:1.6),
  libtool,
  libunwind7|libunwind8,
  libsasl2-dev,
  libapr1-dev,
  libsvn-dev,
  libcurl3-dev,
  javahelper,
  python-setuptools
X-Python-Version: >= 2.6
Standards-Version: 3.9.5
Homepage: http://mesos.apache.org/
Vcs-Git: git://git.apache.org/mesos.git

Package: mesos
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: common files and library of mesos nodes
 Apache Mesos is a cluster manager that provides efficient resource isolation
 and sharing across distributed applications, or frameworks. It can run
 Hadoop, MPI, Hypertable, Spark (a new framework for low-latency interactive
 and iterative jobs), and other applications.

Package: python-mesos
Architecture: any
Section: python
XB-Python-Version: ${python:Versions}
Depends:
 libmesos (= ${binary:Version}),
 python-protobuf (>= 2.4.1),
 ${python:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Description: Python bindings for Mesos
 Apache Mesos is a cluster manager that provides efficient resource isolation
 and sharing across distributed applications, or frameworks. It can run
 Hadoop, MPI, Hypertable, Spark (a new framework for low-latency interactive
 and iterative jobs), and other applications.

Package: libmesos
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: Apache Mesos Library
 Apache Mesos is a cluster manager that provides efficient resource isolation
 and sharing across distributed applications, or frameworks. It can run
 Hadoop, MPI, Hypertable, Spark (a new framework for low-latency interactive
 and iterative jobs), and other applications.
